In [1]:
#Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

In [2]:
#Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa
mahasiswa = {
     "NIM": "20251001",
     "Nama": "Andi",
     "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

In [3]:
#Praktikum 03 - Operasi pada Dictionary
mahasiswa = {
     "NIM": "20251001",
     "Nama": "Andi",
     "Prodi": "TRK"
}

mahasiswa["Umur"] = 20              # menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  # memperbarui data
del mahasiswa["Umur"]               # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

In [4]:
#Praktikum 04 - Set dan Operasi Himpunan
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [5]:
#Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Algoritma', 'Bahasa Inggris', 'Matematika'}
Mata kuliah Mhs2: {'Basis Data', 'Algoritma', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

In [6]:
#Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa
nilai_mahasiswa = {
     "Andi": 80,
     "Budi": 75,
     "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

In [8]:
#Penugasan 01 - Tuple Sederhana
mahasiswa = ("Carlos Sainz", 21, "Teknik Mesin")
print(f"Nama  : {mahasiswa[0]}")
print(f"Umur  : {mahasiswa[1]}")
print(f"Prodi : {mahasiswa[2]}")

Nama  : Carlos Sainz
Umur  : 21
Prodi : Teknik Mesin

In [9]:
#Penugasan 02 - Tuple Tidak Bisa Diubah (Immutable)
angka = (1, 2, 3)
angka[0] = 10
print(angka)

TypeError: 'tuple' object does not support item assignment

In [10]:
#Penugasan 03 - Dictionary Dasar
buku = {
    "Judul": "Algoritma dan Pemrograman",
    "Penulis": "Rinaldi Munir",
    "Tahun": 2021
}

print(f"Judul   : {buku['Judul']}")
print(f"Penulis : {buku['Penulis']}")
print(f"Tahun   : {buku['Tahun']}")

Judul   : Algoritma dan Pemrograman
Penulis : Rinaldi Munir
Tahun   : 2021

In [11]:
#Penugasan 04 - Operasi Dictionary
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

print("Data Awal:", dosen)
dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print("Data Akhir:", dosen)

Data Awal: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK'}
Data Akhir: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

In [13]:
#Penugasan 05 - Set dan Himpunan
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print(f"Union        : {A | B}")
print(f"Intersection : {A & B}")
print(f"Difference   : {A - B}")

Union        : {'Basis Data', 'Bahasa Inggris', 'Matematika', 'Algoritma'}
Intersection : {'Algoritma', 'Matematika'}
Difference   : {'Bahasa Inggris'}

In [14]:
#Penugasan 06 - Studi Kasus Dictionary (Nilai Mahasiswa)
nilai_mhs = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("=== DAFTAR NILAI ===")
for nama, nilai in nilai_mhs.items():
    print(f"{nama}: {nilai}")

total_nilai = sum(nilai_mhs.values())
jumlah_siswa = len(nilai_mhs)
rata_rata = total_nilai / jumlah_siswa

print("-" * 20)
print(f"Rata-rata Kelas: {rata_rata:.2f}")

=== DAFTAR NILAI ===
Andi: 85
Budi: 90
Cici: 78
--------------------
Rata-rata Kelas: 84.33

In [17]:
#Penugasan 07 - Studi Kasus Set â€“ Klub Mahasiswa
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

print("1. Daftar seluruh anggota (Union):")
print(klub_A | klub_B)

print("\n2. Anggota yang ikut kedua klub (Intersection):")
print(klub_A & klub_B)

print("\n3. Hanya anggota Klub A saja (Difference):")
print(klub_A - klub_B)

1. Daftar seluruh anggota (Union):
{'Deni', 'Cici', 'Eka', 'Budi', 'Andi'}

2. Anggota yang ikut kedua klub (Intersection):
{'Cici'}

3. Hanya anggota Klub A saja (Difference):
{'Budi', 'Andi'}