<a href="https://colab.research.google.com/github/IssOT/Praktikum-Algortima-dan-pemograman-1/blob/main/Praktikum_2_Ivan_Sigit_Santoso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur));

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi));

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama));

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa));

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai));

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat));

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"};
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa));

# Set
hobi = {"membaca", "olahraga", "musik"};
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'musik', 'membaca', 'olahraga'} → <class 'set'>

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ");

# Input integer
umur = int(input("Masukkan umur Anda: "));

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "));

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm");

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm");

Masukkan nama Anda: Ivan Sigit Santoso
Masukkan umur Anda: 17
Masukkan tinggi badan (cm): 169
Halo, Ivan Sigit Santoso umur Anda: 17 tahun, tinggi: 169.0 cm
Halo Ivan Sigit Santoso, umur Anda 17 tahun, tinggi 169.0 cm
Halo Ivan Sigit Santoso, umur Anda 17 tahun, tinggi 169.0 cm

In [ ]:
a = 15
b = 4
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
#Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif.

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
#Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah n

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")

else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 70
Masukkan jumlah kehadiran: 12
Status: LULUS

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

 # Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Iphone 17
Masukkan harga barang: 17249000
Masukkan jumlah barang: 1

===== Struk Belanja =====
Barang : Iphone 17
Jumlah : 1
Total : Rp 17249000.0
Diskon : 20.0%
Bayar : Rp 13799200.0

In [ ]:
#Identitas Mahasiswa
# Tipe data: str (string)
nama = input("Masukkan Nama Mahasiswa: ")
# Tipe data: int (integer)
umur = int(input("Masukan Umur Mahasiswa: "))
# Tipe data: float (bilangan desimal, misalnya dalam cm)
tinggi = float(input("Masukan Tinggi Mahasiswa : "))
# Tipe data: bool (boolean)
status = input("Apakah Mahasiswa Aktif? (Aktif/Tidak Aktif): ")
# Print rapi dengan f-string
print("================================")
print("     IDENTITAS MAHASISWA")
print("================================")
print(f"Nama Lengkap : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status       : {status}")
print("================================")

Masukkan Nama Mahasiswa: ivan
Masukan Umur Mahasiswa: 17
Masukan Tinggi Mahasiswa : 289
Apakah Mahasiswa Aktif? (Aktif/Tidak Aktif): aktif
================================
     IDENTITAS MAHASISWA
================================
Nama Lengkap : ivan
Umur         : 17 tahun
Tinggi Badan : 289.0 cm
Status       : aktif
================================

In [ ]:
#Operasi Aritmatika
# Meminta input dari pengguna
a = int(input("Masukkan bilangan bulat pertama: "))
b = int(input("Masukkan bilangan bulat kedua: "))
# Menghitung operasi
penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
# Pengecekan untuk pembagian dan sisa bagi
if b != 0:
    pembagian = a / b
    sisa_bagi = a % b
else:
    pembagian = "Tidak dapat dibagi oleh nol"
    sisa_bagi = "Tidak dapat dibagi oleh nol"
# Perpangkatan (a pangkat b)
perpangkatan = a ** b
# Menampilkan hasil
print("================================")
print(f"\n        Hasil operasi:")
print("================================")
print(f"Penjumlahan: {a} + {b} = {penjumlahan}")
print(f"Pengurangan: {a} - {b} = {pengurangan}")
print(f"Perkalian: {a} * {b} = {perkalian}")
print(f"Pembagian: {a} / {b} = {pembagian}")
print(f"Sisa bagi: {a} % {b} = {sisa_bagi}")
print(f"Perpangkatan: {a} ** {b} = {perpangkatan}")
print("================================")

Masukkan bilangan bulat pertama: 50
Masukkan bilangan bulat kedua: 10
================================

        Hasil operasi:
================================
Penjumlahan: 50 + 10 = 60
Pengurangan: 50 - 10 = 40
Perkalian: 50 * 10 = 500
Pembagian: 50 / 10 = 5.0
Sisa bagi: 50 % 10 = 0
Perpangkatan: 50 ** 10 = 97656250000000000
================================

In [69]:
#Konversi nilai
num = float(input("Masukkan angka desimal: "))
integer_value = int(num)
string_value = str(num)
rounded_value = float(f"{num:.2f}")
print(f"\nHasil konversi:")
print(f"Bentuk integer: {integer_value}")
print(f"Bentuk string: {string_value}")
print(f"Pembulatan 2 digit di belakang koma: {rounded_value}")

Masukkan angka desimal: 87.937

Hasil konversi:
Bentuk integer: 87
Bentuk string: 87.937
Pembulatan 2 digit di belakang koma: 87.94

In [72]:
# Program untuk perbandingan dua bilangan

# Meminta input dari pengguna dengan penanganan error
num1 = float(input("Masukkan bilangan pertama: "))
num2 = float(input("Masukkan bilangan kedua: "))
# Melakukan perbandingan
sama = num1 == num2
tidak_sama = num1 != num2
kurang_dari = num1 < num2
lebih_dari = num1 > num2
kurang_sama = num1 <= num2
lebih_sama = num1 >= num2
# Menampilkan hasil
print(f"\nHasil perbandingan antara {num1} dan {num2}:")
print(f"{num1} == {num2} : {sama}")
print(f"{num1} != {num2} : {tidak_sama}")
print(f"{num1} < {num2} : {kurang_dari}")
print(f"{num1} > {num2} : {lebih_dari}")
print(f"{num1} <= {num2} : {kurang_sama}")
print(f"{num1} >= {num2} : {lebih_sama}")

Masukkan bilangan pertama: 80
Masukkan bilangan kedua: 20

Hasil perbandingan antara 80.0 dan 20.0:
80.0 == 20.0 : False
80.0 != 20.0 : True
80.0 < 20.0 : False
80.0 > 20.0 : True
80.0 <= 20.0 : False
80.0 >= 20.0 : True